.idea/
.vscode/
frontend/node_modules/
frontend/compressed/
frontend/raw/
frontend/dist/
frontend/public/*.js
frontend/public/*.js
frontend/public/merged/
js_scripts/node_modules/
runtime/
BackUp/
squadmortar.exe
release/
squadmortar.zip
frontend/public/app.js.LICENSE.txt
visual.au3